body {
  padding: 0rem;
  background-color: #111f39;
  background-image: url('../images/FondoEstelar-HighQ.jpg');
  /* height: 100vh; */
  display: flex;
  justify-content: center;
  align-items: center;

  @media screen and (max-width: 768px) {
    height: 100%;
    padding: 1rem;
  }
}

a {
  color: #c9d7ff;
}

.container {
  margin-top: 2rem;
  background: radial-gradient(
    circle,
    rgba(29, 36, 55, 0.822) 0%,
    rgba(119, 154, 175, 0.3) 100%
  );
  backdrop-filter: blur(0.5px);
  border: 1px solid #ffffff48;
  border-radius: 3rem;
  padding-top: 20px;
  padding-bottom: 30px;
  padding-inline: 40px;
  box-shadow: inset 0px 0px 40px -4px rgba(222, 221, 240, 0.2);

  @media screen and (max-width: 768px) {
    height: 100%;
    margin-block: 0.5rem;
    margin-inline: 0.5rem;
    padding-inline: 16px;
  }
}

.main {
  display: flex;
  padding-top: 10px;
  gap: 40px;

  @media screen and (max-width: 768px) {
    padding-top: 25px;
    flex-direction: column;
  }
}

//Estilo enviado a Landing.scss
// .landing .btn {
//   margin-top: 30px;
//   margin-inline: auto;
//   max-width: 500px;
//   margin-bottom: 50px;
//   padding: 1.5rem;
//   font-size: 16px;
//   @media screen and (max-width: 768px) {
//     width: 80%;
//   }
// }

.logo {
  margin-left: 1rem;
  width: 60px;
}

.btn,
.btn-large {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  text-decoration: none;
  width: 100%;
  margin-top: 20px;
  padding-block: 0.5rem;
  padding-inline: 0.7rem;
  color: white;
  text-align: center;
  border: solid 1px rgba(255, 255, 255, 0.5);
  cursor: pointer;

  min-height: 43px;
  background: linear-gradient(90deg, #424f76 -1.57%, #516298 98.43%);
  box-shadow: 0px 4px 10px -4px #2114145e;
  border-radius: 40px;

  &:hover{
  background: linear-gradient(90deg, #516191 -1.57%, #657abe 98.43%);

  }

  @media screen and (max-width: 768px) {
    width: 100%;
    margin-inline: auto;
  }
}
