/* .btn,
.btn-large {

  text-decoration: none;
  width: 100%;
  margin-top: 20px;
  padding-block: .5rem;
  padding-inline: .7rem;



  cursor: pointer;

  min-height: 43px;


  @media screen and (max-width: 768px) {
    width: 100%;
    margin-inline: auto;
  }
} */

.get-avatar {
  display: flex;
  /* margin: 10px 0; */
}

.get-avatar__label {
  color: white;
  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;

  box-sizing: border-box;
  background: linear-gradient(90deg, #424f76 -1.57%, #516298 98.43%);
  border: solid 1px rgba(255, 255, 255, 0.5);
  border-radius: 40px;

  font-size: 14px;
  text-align: center;

  margin-top: 10px;
  padding: 10px 20px;
  color: #fff;
  box-shadow: 0px 4px 10px -4px #2114145e;
}
.get-avatar__label:hover {
  background: linear-gradient(90deg, #5b6ca1 -1.57%, #6478b9 98.43%);
}

.get-avatar__upload-field {
  display: none;
}

.get-avatar__preview {
  background-color: #fff;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border: 1px solid #ccc;
  height: 50px;
  margin-left: 15px;
  width: 50px;
}
