<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/main.css" />
    <link rel="shortcut icon" href="/faviconNuevo.png" type="image/x-icon">

    <title>404 NOT FOUND</title>
</head>
<body>
    <div class="container noExist">
    <h3>ESTE PROYECTO NO EXISTE</h3>
    <img class="sadRocket" src="/SadRocket-NotFound.jpg" alt="sad rocket">
    <a class="btn" href="/">Volver a todos los proyectos</a>
    </div>
</body>
</html>