* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

body {
    padding: 0rem;
    background-color: #111f39;
    background-image: url('FondoEstelar-HighQ.jpg');
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    color: white;
  
    @media screen and (max-width: 768px) {
      height: 100%;
      padding: 1rem;
    }
}
  
a {
    color: #c9d7ff;
}

h2 {
    font-size: 27px;
}

.container {
    margin-top: -5rem;
    background: radial-gradient(
      circle,
      rgba(29, 36, 55, 0.822) 0%,
      rgba(119, 154, 175, 0.3) 100%
    );

    color: white;

    backdrop-filter: blur(0.5px);
    border: 1px solid #ffffff48;
    border-radius: 3rem;
    padding-top: 30px;
    padding-bottom: 60px;
    padding-inline: 40px;
    box-shadow: inset 0px 0px 40px -4px rgba(222, 221, 240, 0.2);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    position: relative;

}

@media screen and (max-width: 768px) {
    .container {
        height: 100%;
        margin-block: 0.5rem;
        margin-inline: 0.5rem;
        padding-inline: 16px;
    }
  }

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  text-decoration: none;
  width: 250px;
  margin-block: 20px;
  padding-block: 0.5rem;
  padding-inline: 0.7rem;
  color: white;
  text-align: center;
  border: solid 1px rgba(255, 255, 255, 0.5);
  cursor: pointer;

  min-height: 43px;
  background: linear-gradient(90deg, #424f76 -1.57%, #516298 98.43%);
  box-shadow: 0px 4px 10px -4px #21141480;
  border-radius: 40px;
}

.btn:hover{
    background: linear-gradient(90deg, #516191 -1.57%, #657abe 98.43%);
}
  
@media screen and (max-width: 768px) {
    .btn {
        width: 100%;
        margin-inline: auto;
    }
}

.photo {
    width: 500px;
    border-radius: 1.5rem;
}

.card {
    margin-inline: auto;
    display: flex;
    flex-direction: row-reverse;
    /* justify-content: space-evenly; */
    padding-block: 16px;
    padding-inline: 5px;
    margin-bottom: 5rem;
    gap: 15px;
    
    background-color: white;
    color: #3e3e3e;
    width: 380px;
    /* width: 75%; */
    /* aspect-ratio: 6 / 4; */
    border-radius: 20px;
    box-shadow: 0px 8px 23px -2px #1514219d;

    position: absolute;
    top: 350px;
}

@media screen and (max-width: 768px) {
    .card {
        margin-inline: auto;
        min-width: 250px;
        /* width: 90%; */
        aspect-ratio: unset;
        gap: 14px;
    }
}

.preview {
    width: 80%;
    max-width: 550px;
    margin-top: 25px;
    margin-bottom: -80px;
    margin-inline: auto;
}

@media screen and (max-width: 768px) {
    .main .preview {
        width: 100%;
        margin-top: 0px;
        margin-right: auto;
        margin-bottom: -100px;
    }
}

/* imagen dentro de tarjeta */
.image {
    object-fit: cover;
    width: 100%;
    aspect-ratio: 4 / 4.25;
}


.autor {
    background-color: white;
    color: #3e3e3e;
    min-width: 350px;
    width: 75%;
    aspect-ratio: 6 / 4;
    transform: translateY(-100px);
    margin-inline: auto;
    border-radius: 20px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: 20px;
    padding-block: 20px;
    padding-inline: 22px;
    margin-top: -15%;
    box-shadow: 0px 4px 13px -4px #1514219d;
}

@media screen and (max-width: 768px) {
    .autor {
        min-width: 255px;
        width: 90%;
        max-width: 350px;
        margin-top: calc(10vh - 30%);
        gap: 14px;
        padding-block: 16px;
        padding-inline: 12px;
    }
}

.info-autor {
    width: 40%;
    max-width: 90px;
    text-align: center;
    padding-block: 18px;
    margin-right: 5px;
}

@media screen and (max-width: 768px) {
    .info-autor {
        width: 35%;
        padding-block: 10px;
    }
}

.info-autor .image {
    border-radius: 50rem;
    border: 4px solid #a0b7be;
}

.info-autor .job {
    font-weight: bold;
    color: black;
    font-size: 13px;
    margin-bottom: 5px;
}

@media screen and (max-width: 768px) {
    .info-autor .job {
        font-size: 10px;
    }
}

.info-autor .name {
    font-size: 16px;
}

@media screen and (max-width: 768px) {
    .info-autor .name {
        font-size: 12px;
    }
}

.info-project {
    padding-right: 15px;
    width: 65%;
}

.info-project .subtitle {
    font-size: 12px;
    text-align: center;
    margin-bottom: 2px;
}

@media screen and (max-width: 768px) {
    .info-project .subtitle {
        font-size: 10px;
        letter-spacing: .5px;
    }
}

.info-project .title {
    font-size: 20px;
    color: black;
    text-align: left;
    margin-top: 10px;
    margin-bottom: 4px;
    letter-spacing: -0.5px;
}

@media screen and (max-width: 768px) {
    .info-project .title {
        font-size: 15px;
        letter-spacing: -0.6px;
        word-spacing: -1px;
    }
}

.info-project .desc {
    font-size: 12px;
    margin-bottom: 15px;
    hyphens: auto;
}

.info-project .slogan {
    font-size: 14px;
    margin-bottom: 10px;
}

.info-project .line {
    width: 100%;
    border: 0;
    height: 1px;
    background-image: linear-gradient(
        to right,
        rgba(255, 255, 255, 0),
        rgba(1, 1, 1, 0.75),
        rgba(255, 255, 255, 0)
    );
}

.info-project .techDemoRepo {
    display: flex;
    align-items: center;
    gap: .75rem;
}

@media screen and (max-width: 768px) {
    .info-project .techDemoRepo {
        gap: 0.5rem;
    }
}

.info-project .demo,
.repo {
    font-size: 25px;
    display: flex;
    gap: .75rem;
}

@media screen and (max-width: 768px) {
    .info-project .demo,
    .repo {
        font-size: 23px;
        gap: 0.5rem;
    }
}

.info-project a {
    color: #537b96;
}

.info-project a:hover {
    color: #6da0a7;
}

.technologies {
    background-color: #dddddd98;
    border-radius: 18px;
    font-size: 14px;
    padding-block: 8px;
    padding-inline: 12px;
    width: 60%;
}

@media screen and (max-width: 768px) {
    .technologies {
        padding: 8px;
        padding-inline: 12px;
        font-size: 12px;
    }
}
