.main .title {
  color: #ffffff;
  text-align: center;
}

.main .ask-info {
  padding: 15px 20px;
  text-align: center;
  color: white;
}

.main .ask-info .subtitle {
  padding-bottom: 10px;
}

.main .ask-info .line {
  width: 100%;
  border: 0;
  height: 1px;
  background-image: linear-gradient(
    to right,
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 0.75),
    rgba(255, 255, 255, 0)
  );
}

.main .form {
  width: 60%;
  max-width: 400px;
  margin-right: auto;

  @media screen and (max-width: 768px) {
    width: 100%;
    margin-inline: auto;
  }
}

.main .project {
  display: flex;
  flex-direction: column;
  gap: 10px;
  border: none;
}

.main .input,
.textarea {
  background: rgba(29, 36, 55, 1);
  border-color: white;
  border-radius: 1rem;
  border: solid 1px rgba(255, 255, 255, 0.541);
  height: 42px;
  color: #ffffff;
  padding-left: 15px;
}

.main .label {
  display: none;
  color: #ffffff;
  font-size: 14px;
  margin-bottom: -0.15rem;
}

.main .input::placeholder,
.textarea::placeholder {
  color: #ffffff71;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus {
  border: solid 1px rgba(255, 255, 255, 0.541);
  -webkit-text-fill-color: white;
  -webkit-box-shadow: 0 0 0px 1000px #3f465f inset; /* rgba(29,36,55,1) */
  transition: background-color 5000s ease-in-out 0s;
}

input:valid,
textarea:valid {
  color: white;
  box-shadow: 0 0 0px 1000px #3f465f inset;
}

.main .textarea {
  padding-top: 12px;
  height: 80px;
  padding-right: 0.75rem;
  hyphens: auto;
}

.main .buttons-img {
  display: flex;
  justify-content: center;
  gap: 0.5rem;

  @media screen and (max-width: 768px) {
    margin-top: 0.25rem;
  }
}

.main .btn-large {
  font-size: 15px;
  width: 75%;
  min-height: 45px;
  margin-top: 10px;
  border: solid 1px white;
  background: linear-gradient(90deg, #495b8f -1.57%, #5c7ebd 98.43%);
  &:hover {
    background: linear-gradient(90deg, #5a70b1 -1.57%, #7099e6 98.43%);
  }

  @media screen and (max-width: 768px) {
    width: 80%;
    margin-inline: auto;
    margin-bottom: 1rem;
  }
}

.card {
  color: white;
  text-align: center;
  padding: 20px;
  display: flex;
  flex-direction: column;
  font-weight: 500;
  text-shadow: 0px 2px 5px rgba(9, 30, 71, 0.97);
}

.card a {
  font-size: 16px;
  margin-inline: auto;
  width: 250px;
  overflow: hidden;
  text-overflow: ellipsis;

  @media screen and (max-width: 768px) {
    font-size: 15px;
    width: 210px;
  }
}

.hidden {
  display: none;
}

.red {
  color: red;
  font-weight: 500;
  text-shadow: 0px 2px 5px rgba(9, 30, 71, 0.97);
}
