.landing {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.landing .btn {
  margin-top: 30px;
  margin-inline: auto;
  max-width: 500px;
  margin-bottom: 50px;
  padding: 1.5rem;
  font-size: 16px;
  @media screen and (max-width: 768px) {
    width: 80%;
  }
}
.articlesContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: auto;
  grid-gap: 15px;
  max-width: 768px;
  @media screen and (max-width: 768px) {
    grid-template-columns: 1fr;
    max-width: 320px;
    grid-gap: 20px;
  }
}

.articlesContainer .article {
  margin-inline: auto;
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  padding-block: 16px;
  padding-inline: 12px;
  gap: 20px;
  background-color: white;
  color: #3e3e3e;
  min-width: 380px;
  width: 75%;
  /* aspect-ratio: 6 / 4; */
  border-radius: 20px;
  @media screen and (max-width: 768px) {
    margin-inline: auto;
    min-width: 250px;
    width: 90%;
    /* aspect-ratio: unset; */
    gap: 14px;
  }
}

.article .image {
  width: 75px;
}
.article {
  min-height: 250px;
}
.links {
  text-decoration: none;
}
